<ion-card>
    <ion-card-header>Cummins Falls Visitor Statistics</ion-card-header>
    <ion-card-content>
        <canvas #chart></canvas>
        <ion-col>
            <ion-row>
                <ion-col>
                    <p>Busiest Times:</p>
                    <button ion-button round small type="button" (click)="btnClicked('0')">
                        Busiest Hour(s)
                    </button>
                    <button ion-button round small type="button" (click)="btnClicked('1')">
                        Busiest Day(s)
                    </button>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <p>Specific Day Count:</p>
                    <button ion-button round small type="button">
                        <ion-datetime displayFormat="MMM-DD-YYYY" placeholder="Choose Date"
                                      (ionChange)="btnClicked('3')"
                                      [(ngModel)]="selectedDate">
                        </ion-datetime>
                    </button>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <p>Specific Month Count:</p>
                    <button ion-button round small type="button">
                        <ion-datetime displayFormat="MMM-YYYY" placeholder="Choose Month"
                                      (ionChange)="btnClicked('4')"
                                      [(ngModel)]="selectedMonth">
                        </ion-datetime>
                    </button>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <p>Specific Year Count:</p>
                    <ion-item>
                        <ion-label>Year</ion-label>
                        <ion-select [(ngModel)]="selectedYear" (ionChange)="btnClicked('2')">
                            <ion-option *ngFor="let year of yearRange">{{year}}</ion-option>
                        </ion-select>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-col>
    </ion-card-content>
</ion-card>
