#NodeJS
npm_debug.log
node_modules/*

#VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json


#Cordova
platforms/
plugins/


#res
resources/signing

#iOS
*.xcuserdatad

#Mac
.DS_Store