page-ranger-login {
  /*  .center > * {
      display: flex !important;
      align-content: center !important;
      justify-content: center !important;
      align-items: center !important;
    }*/

  #errorString {
    color: #ff3139;
    text-align: center;
  }

  #errorString:empty {
    display: none;
  }
}
