<ion-card>
    <ion-card-header>
        {{header}}
    </ion-card-header>

    <ion-card-content>
        <ion-slides autoplay="5000" loop="true" speed="3000">
            <ion-slide *ngFor="let event of slideData">
                <img src="{{event}}"/>
            </ion-slide>
            <ion-slide *ngIf="slideData.length == 0">
                <span id="eventError">No photo currently available. Check again tomorrow!</span>
            </ion-slide>
        </ion-slides>
    </ion-card-content>
</ion-card>
