<ion-header>

    <ion-navbar>
        <ion-title>{{ranger.name}}</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    
    <ion-grid>
        <ion-row>
            <ion-col class="first">Username:</ion-col>
            <ion-col>{{ranger.username}}</ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="first">Email:</ion-col>
            <ion-col>{{ranger.email + 'oaisrentaoiesrntoaiesrntoian'}}</ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="first">Admin:</ion-col>
            <ion-col>{{ranger.isAdmin ? 'Yes' : 'No'}}</ion-col>
        </ion-row>
    </ion-grid>
    <button ion-button full *ngIf="!lookingAtOwnInfo()" (click)="deleteRanger()">Delete</button>
    <button ion-button full *ngIf="!lookingAtOwnInfo() && ranger.isAdmin" (click)="revokeAdmin()">Revoke Admin Rights</button>
    <button ion-button full *ngIf="!ranger.isAdmin" (click)="grantAdmin()">Grant Admin Rights</button>

</ion-content>
