<ion-header>

    <ion-navbar>
        <ion-title>{{ranger.name}}</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-grid>
        <ion-row>
            <ion-col class="first">Username:</ion-col>
            <ion-col>{{ranger.username}}</ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="first">Email:</ion-col>
            <ion-col>{{ranger.email}}</ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="first">Admin:</ion-col>
            <ion-col>{{ranger.isAdmin ? 'Yes' : 'No'}}</ion-col>
        </ion-row>
    </ion-grid>
    <ion-col *ngIf="!lookingAtOwnInfo()">
        <ion-row>
            <button ion-button full (click)="deleteRanger()">Delete</button>
        </ion-row>
        <ion-row>
            <button ion-button full *ngIf="!ranger.isExpired() && ranger.isAdmin "
                    (click)="revokeAdmin()">Revoke Admin Rights
            </button>
        </ion-row>
        <ion-row>
            <button ion-button full *ngIf="!ranger.isExpired() && !ranger.isAdmin" (click)="grantAdmin()">Grant Admin
                Rights
            </button>
        </ion-row>
        <ion-row>
            <button ion-button full *ngIf="ranger.isExpired()" (click)="resendConfirmationCode()">Resend Confirmation
                Code
            </button>
        </ion-row>
    </ion-col>
</ion-content>
