// http://ionicframework.com/docs/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

div.scroll.padding {
  -webkit-transform: initial !important;
}

#errorString {
  color: #ff3139;
  text-align: center;
}

#errorString:empty {
  display: none;
}
.toolbar-background {
  background-color: #3AB15D;
}

.tab-button {
  background-color: #3AB15D;
  color: "white";
}

ion-title .toolbar-title-md {
  color: #ffffff;
}

.alert-button-default-md {
  color: #222 !important;
}

.button{
  background-color: #3AB15D;
  color: #222;
}

ion-datetime .datetime-text {
  color: #222 !important;
}



//$img-placeholder-background : #9da6b5;
