// http://ionicframework.com/docs/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@import '../theme/variables';

div.scroll.padding {
  -webkit-transform: initial !important;
}

#errorString {
  color: #ff3139;
  text-align: center;
}

#errorString:empty {
  display: none;
}

.toolbar-background, .swiper-pagination-bullet-active {
   background-color: color($colors, primary);
}

.tab-button {
   background-color: color($colors, primary);
}

button[aria-checked='true'] .alert-radio-inner {
//   background-color: color($colors, secondary);

}

button[aria-checked='true'] .alert-radio-icon {
//   border-color: #787878 !important;
}

.picker-opt.picker-opt-selected, .alert-radio-label {
//   color: color($colors, secondary);
}

ion-datetime .datetime-text, .alert-button-default-md {
//   color: color($colors, dark) !important;
}

ion-card-header {
  font-size: 2em;
  font-weight: bold;
}