<ion-header>

    <ion-navbar>
        <ion-title>Notification Settings</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-list>
        <ion-item>
            <ion-label text-wrap>{{allowLocationMessage()}}</ion-label>
        </ion-item>
        <button ion-button *ngIf="!locationAllowed" (click)="promptLocation()">Yes</button>
        <ion-item *ngIf="loaded">
            <ion-label text-wrap>Receive notifications when the park will be closed outside the normal schedule.
            </ion-label>
            <ion-toggle [(ngModel)]="!optOutPark" (ionChange)="optOutParkNotify()"></ion-toggle>
        </ion-item>
        <ion-item *ngIf="loaded">
            <ion-label text-wrap>Receive notifications when there is a flood warning at Cummins Falls and you are in the
                park. It is highly recommended you leave this enabled for your safety.
            </ion-label>
            <ion-toggle [(ngModel)]="!optOutFlood" (ionChange)="optOutFloodNotify()"></ion-toggle>
        </ion-item>
    </ion-list>


</ion-content>
