trails-info-page {
  ion-content .category h5 {
    font-size: 1.1em;
  }
  ion-content div .category {
    display: inline-block !important;
    border: 3em;
    padding : 1em;
    float:left;
    align-items: center;
  }
  .scroll-content {
            background-color: map-get($colors, light);
        }
 
        ion-card-header {
            font-weight: bold;
        }
		
		ion-scroll { white-space: nowrap; }
}
