trails-info-page {
  ion-content div .category {
    display: inline-block;
    float: left;
    align-items: center;
  }
  .scroll {
    width: 95vw;
    height: 60vh;
  }
  ion-scroll {
    white-space: nowrap;
  }

  ion-item {
    padding-left: 0px !important;
  }

  .distance-row {
    margin-bottom: 1.5em;
  }

  h5 {
    font-weight: bold !important;
  }
}
