<ion-header>

    <ion-navbar>
        <ion-title>Schedule Closing</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-col>
        <ion-row>
            <h4>Message:</h4>
            <p>{{getMessage()}}</p>
        </ion-row>
        <ion-row>
            <button ion-button (click)="setStart()">Change Start Time</button>
        </ion-row>
        <ion-row>
            <button ion-button (click)="setEnd()">Change End Time</button>
        </ion-row>
        <ion-row>
            <ion-label text-wrap>Set start time to be now</ion-label>
            <ion-toggle [(ngModel)]="closing.startsNow" name="startsNow" checked="false"></ion-toggle>
        </ion-row>
        <ion-row *ngIf="!closing.startsNow">
            <ion-label text-wrap>Set start time to be beginning of the day</ion-label>
            <ion-toggle [(ngModel)]="closing.fromOpening" name="fromOpening" checked="false"></ion-toggle>
        </ion-row>
        <ion-row>
            <ion-label text-wrap>Set end time to be the end of the day</ion-label>
            <ion-toggle [(ngModel)]="closing.untilClosing" name="untilClosing" checked="true"></ion-toggle>
        </ion-row>
        <ion-row>
            <p>Area Closed:</p>
            <ion-item>
                <ion-select [selectOptions]="areaOptions" name="area" [(ngModel)]="closing.area">
                    <ion-option text-wrap *ngFor="let a of areas()" value="{{a}}">
                        {{a}}
                    </ion-option>
                </ion-select>
            </ion-item>
        </ion-row>
        <ion-row>
            <button ion-button (click)="submit()">Submit</button>
        </ion-row>
    </ion-col>
</ion-content>
