event-card {
  #eventDate {
    padding-bottom: 4pt;
  }
  #eventTitle {
    padding-bottom: 4pt;
    font-weight: bold;
  }
  #eventSummary {
    padding-bottom: 32pt;
  }

  #eventError {
    padding-bottom: 32pt;
  }

}